
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>@ViewBag.Tittle</title>
    <link rel="stylesheet" href="~/Content/_LayoutDrug.css">
    @RenderSection("header", false)
</head>
<body>
    <header>
        <div class="header">
            <div class="content-left">
                <img width="300px" src="~/Content/logo CMYK-01.png">
            </div>
        </div>
    </header>
    <div class="Navigation-bar">
        <a href="@Url.Action("TrangChu","Drug")">Danh sách bệnh</a>
        <a href="@Url.Action("ThemThuoc","Drug")">Thêm bệnh</a>
        <a href="@Url.Action("DanhSachThuoc","Drug2")">Quản lý thuốc</a>
        <a href="@Url.Action("ThemThuoc","Drug2")">Thêm thuốc</a>
        <a href="@Url.Action("GioHang","Drug2")">Giỏ hàng</a>
    </div>
    <div class="main">
        @RenderBody()
    </div>
    <footer>
        <p>
            -Trụ sở: 475A Điện Biên Phủ, P.25, Q.Bình Thạnh, TP.HCM Cơ sở 475B: 475B Điện Biên Phủ, P.25, Q.Bình Thạnh, TP.HCM
            <br>-Cơ sở 276: 276-282 Điện Biên Phủ, P.17, Q.Bình Thạnh, TP.HCM
            <br>-Cơ sở Ung Văn Khiêm: 31/36 Ung Văn Khiêm, P.25, Q.Bình Thạnh, TP.HCM
            <br>-Viện Công nghệ cao HUTECH: Khu Công nghệ cao TP.HCM (SHTP), P.Long Thạnh Mỹ, TP.Thủ Đức, TP.HCM
            <br>-TT ĐT nhân lực chất lượng cao: Khu Công nghệ cao TP.HCM (SHTP), Xa lộ Hà Nội, P.Hiệp Phú, TP.Thủ Đức, TP.HCM<br>-ĐT: (028) 5445 7777 - Fax: (028) 5445 4444 - Email: hutech@hutech.edu.vn
        </p>
    </footer>
</body>
</html>
