@model S2tcnhut.Models.SinhVien
@{
    ViewBag.Title = "suaSinhVien";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}

@section header{
    <link rel="stylesheet" href="~/Content/ThemSinhVien.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
}

@Html.ValidationSummary(true, null)
@using (Html.BeginForm("suaSinhVien", "Student", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="contain-all">
        <div class="Review-Avatar">
            <div id="ava">
                <img id="iconPick" width="200px" src="~/Content/avatar/@Model.Hinh">
            </div>
            <input type="file" name="Icon" class="btn btn-info" onchange="loadFile(event)" required>
        </div>
        <div class="Input">
            <form>
                <div class="form-group">
                    <label for="pwd">Họ tên:</label>
                    <input type="text" class="form-control" id="pwd" name="HoTen" value="@Model.HoTen" required>
                    <input type="hidden" class="form-control" id="pwd" name="MaSV" value="@Model.MaSV">
                    <label for="pwd">Giới tính:</label>
                    <input type="text" class="form-control" id="pwd" name="GioiTinh" value="@Model.GioiTinh" required>
                    <label for="pwd">Ngày sinh:</label>
                    <input type="date" class="form-control" name="NgaySinh" id="pwd" value="@Model.NgaySinh.Value.ToString("yyyy-MM-dd")" required>
                    <label for="pwd">Chọn mã ngành:</label>
                    <select class="form-control" id="sel1" name="MaNganh">
                        @foreach (var items in ViewBag.ListNganh)
                        {
                            <option value="@items.MaNganh">@items.TenNganh</option>
                        }
                    </select>
                    <br />
                    <input type="submit" value="Sửa sinh viên" class="btn btn-info" />
                </div>
            </form>
        </div>
    </div>
}
<script>
    var loadFile = function (event) {
        var output = document.getElementById('iconPick');
        output.src = URL.createObjectURL(event.target.files[0]);
        output.onload = function () {
            URL.revokeObjectURL(output.src) // free memory
        }
    };
</script>

