@model List<S2tcnhut.Models.SinhVien>
@{
    ViewBag.Title = "TrangChu";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}

@section header{
    <link rel="stylesheet" href="~/Content/TrangChu.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
}

<div class="box-subject">
    <select onchange="" class="form-control combobox" id="sel1">
        <option>Chọn mã ngành để lọc</option>
        @foreach (var items in ViewBag.ListNganh)
        {
            <option value="@items.MaNganh">@items.TenNganh</option>
        }
    </select>
</div>

<div class="contain-student">
    @foreach (var items in Model)
    {
        <div class="student">
            <div id="avatar">
                <img width="200px" src="~/Content/avatar/@items.Hinh">
            </div>
            <div id="information">
                <p><b>Mã sinh viên: </b>@items.MaSV</p>
                <p><b>Tên sinh viên: </b>@items.HoTen</p>
                <p><b>Giới tính: </b>@items.GioiTinh</p>
                <p><b>Ngày sinh: </b>@items.NgaySinh.Value.ToString("dd/MM/yyyy")</p>
                <p><b>Mã chuyên ngành: </b>@items.MaNganh</p>
            </div>
            <div class="action-button">
                <button class="btn btn-success">Xem chi tiết >>></button>
                <button class="btn btn-warning" onclick="location.href='@Url.Action("suaSinhVien", "Student", new { Id = items.MaSV})'">Sửa thông tin >>></button>
                <button class="btn btn-danger" onclick="location.href='@Url.Action("xoaSinhVien", "Student", new { Id = items.MaSV})'">Xóa sinh viên này >>></button>
            </div>
        </div>
    }
</div>

<script>
    $(".combobox").change(function () {
        var id = $(this).val();
        $('body').load('@Url.Action("Fillter", "Student")?Id=' + id);
    })
</script>

